/* Overall */
:root {
  --clr-light: whitesmoke;
  --clr-dark: rgb(29, 29, 29);
  --clr-dark-items: rgb(22, 22, 22);
  --cta-color: #1b1c2f;
  --light-purple-color: #bcbdd8;
  --dark-purple-color: #49176d;
  --darker-purple-color: #27063b ;
  --ratio: 3.74;
  --leading: 0.025em;
}

@font-face {
  font-family: "Montserrat";
  src: url("./Montserrat_font/Montserrat-VariableFont_wght.ttf");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: var(--clr-white);
}

main {
  margin: 0;
}

h2 {
  padding: 0;
  margin: 0;
}

/* Navigation */
header {
  display: grid;
  margin: 0;
  width: 100%;
  top: 0;
  z-index: 1;
  left: 0;
  right: 0;
  position: sticky;
}

nav {
  display: grid;
  grid-template-areas:
    "toggle toggle toggle log log log"
    "header header header button button button";
  padding: 10px;
  gap: 20px;
  background-color: var(--light-purple-color);
  width: 100%;
  min-height: 100px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
}

.checkbox {
  grid-area: toggle;
  display: flex;
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  background-color: var(--dark-purple-color);
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-moon {
  color: #dfdddd;
}

.fa-sun {
  color: #f5e611;
}

.checkbox-label .ball {
  background-color: var(--light-purple-color);
  width: 22px;
  height: 22px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
  transform: translateX(24px);
}

a {
  text-decoration: none;
  color: var(--dark-purple-color);
}

a:hover {
  color: white;
}

.navtoggle {
  padding-left: 10px;
}
.navlogo {
  grid-area: header;
  padding: 10px;
  font-size: 1.5rem;
}

.navlogini {
  grid-area: log;
  text-align: right;
}
.navdialog {
  margin-bottom: 0;
  padding-right: 20px;
}

.navtitle {
  color: var(--dark-purple-color);
  font-size: 2em;
  transition-delay: 5ms;
}

.navbuttons {
  margin-top: auto;
  grid-area: button;
  text-align: right;
}

.navlink {
  text-decoration: underline;
  margin-left: 2.2rem;
  font-size: 1.8rem;
}

/* Main section */
section {
  margin: auto;
  width: 90%;
}

.undernav-picture {
  width: 100%;
  height: 400px;
  background-image: url("https://d7hftxdivxxvm.cloudfront.net/?height=1440&quality=80&resize_to=fit&src=https%3A%2F%2Fartsy-media-uploads.s3.amazonaws.com%2FAZYyr3SuP-kTixCzEL25ng%252FVoYq0hwMv85rzTP2.jpeg&width=1440");
  background-size: cover;
  background-position: center;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.5);
}

/* Grid container section */
.grid-container {
  display: grid;
  grid-gap: 10px;
  min-height: 500px;
  margin-top: 20px;
}

.grid-item {
  width: 100%;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}

.grid-item-1 {
  display: grid;
  min-height: 300px;
  grid-template-columns: repeat(2, 1fr);
}

.grid-item-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  min-height: 300px;
}

.grid-item-3 {
  grid-template-columns: repeat(2, 1fr);
  display: grid;
  min-height: 150px;
}

.grid-item-4 {
  grid-template-columns: repeat(2, 1fr);
  display: grid;
  min-height: 150px;
}

.grid-headers button {
  text-align: center;
  border: none;
  margin-top: 5rem;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
}

.grid-pictures img {
  max-width: 400px;
  max-height: 300px;
  margin: 1.1rem;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
}

/* Button flexbox container section */
.flexbox-button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flexnappi {
  margin: 10px;
}

/* Picture flexbox container section */
.flexbox-container {
  display: flex;
  justify-content: space-between;
  min-width: 200px;
  height: 400px;
}

.flexbox-item {
  flex-grow: 1;
  height: 100%;
  position: relative;
  transition: all 300ms ease-in-out;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  &:hover {
    flex-grow: 4.3;
  }
}

.flexbox-item-1 {
  background-image: url(img.flex.webp/flex1.webp);
  &:hover {
    background-image: url(img.flex.webp/flex1-hov.webp);
  }
}

.flexbox-item-2 {
  background-image: url(img.flex.webp/flex2.webp);
  &:hover {
    background-image: url(img.flex.webp/flex2-hov.webp);
  }
}

.flexbox-item-3 {
  background-image: url(img.flex.webp/flex3.webp);
  &:hover {
    background-image: url(img.flex.webp/flex3-hov.webp);
  }
}

.flexbox-item-4 {
  background-image: url(img.flex.webp/flex4.webp);
  &:hover {
    background-image: url(img.flex.webp/flex4-hov.webp);
  }
}


/* Article section */
article {
  background-color: var(--light-purple-color);
  margin-top: 20px;
  border-radius: 20px;
  min-height: 300px;
  position: relative;
  padding: 3rem;
}

aside {
  padding: 20px;
  height: 50%;
  width: 100%;
  color: var(--dark-purple-color);
  font-size: 1.2em;
}

.aside-container {
  width: 100%;
  height: 100%;
  margin-top: 1rem;
}

.shiba-img {
  float: left;
  width: 150px;
  border-radius: 20px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.sticky-img {
  position: absolute;
  width: 150px;
  top: 0;
  right: 0;
  transform: translate(-10px, -60px);
  transition-duration: 0.5s;
}

.sticky-img:hover {
  width: 125px;
}

/* Footer section */
footer {
  width: 100%;
  height: 150px;
  bottom: 0;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
  margin-top: 20px;
}

.footer-text {
  color: rgb(187, 187, 187);
  text-align: center;
  line-height: 100px;
}

/* Modal (dialog) */
button {
  position: relative;
  width: calc(44px * var(--ratio));
  height: 44px;
  border-radius: calc(3px * var(--ratio));
  letter-spacing: calc(2 * var(--leading, 0.025em));
  font-family: inherit;
  color: var(--dark-purple-color);
  background-color: var(--light-purple-color);
  font-size: large;
  font-weight: 700;
  border: none;
}

button:focus {
  outline: none;
  border: 0.0625rem solid transparent;
  box-shadow: 0 0 0 0.125rem #fff, 0 0 0 0.2rem var(--dark-color-bg);
}

button:hover {
  font-size: 1.5rem;
  transition: 0.2s;
  color: var(--light-purple-color);
  background-color: var(--dark-purple-color);
}

#open_dialog {
  margin: auto;
  background: lightgrey;
  border: none;
}

dialog {
  background-color: rgba(245, 245, 245, 0.9);
  border: none !important;
  border-radius: calc(5px * var(--ratio));
  box-shadow: 0 0 #0000, 0 0 #0000, 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  padding: 1.6rem;
  max-width: 400px;
  margin: auto;
}

dialog img {
  display: block;
  max-width: 75%;
  margin: 1rem 0 auto 2.8rem;
  margin-bottom: 1rem;
}

dialog::backdrop {
  backdrop-filter: blur(5px);
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.flex.flex-space-between {
  justify-content: space-between;
}

.flex button {
  margin: 10px auto;
}

#close_dialog {
  top: 10px;
}

/* Input in dialog section */
input[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border-radius: 10px;
  box-sizing: border-box;
  font-size: small;
  font-weight: light;
  border: 1px solid black;
  border-left: 5px solid green;
}

input[type="password"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border-radius: 10px;
  box-sizing: border-box;
  font-size: small;
  font-weight: light;
  border: 1px solid black;
  border-left: 5px solid green;
}

input[type="submit"] {
  width: 100%;
  background-color: var(--light-purple-color);
  letter-spacing: calc(2 * var(--leading, 0.025em));
  color: var(--dark-purple-color);
  padding: 14px 20px;
  margin: 8px 0;
  border: 2px;
  border-radius: 10px;
  cursor: pointer;
  font-size: large;
  font-weight: 700;
}

input[type="submit"]:hover {
  font-size: 1.5rem;
  transition: 0.2s;
  color: var(--light-purple-color);
  background-color: var(--dark-purple-color);
}

dialog input:valid {
  border-left-color: green;
}
dialog input:invalid {
  border-left-color: #d21900;
}

/* Responsive sizes */

/* Large size (after > 1100px)*/
@media only screen and (min-width: 1100px) {
  header {
    margin: auto;
    width: 80%;
  }
  .undernav-picture {
    margin: auto;
    height: 600px;
    width: 80%;
  }
  section {
    width: 80%;
    margin: auto;
  }

  .flexbox-container {
    margin-top: 20px;
  }

  @media only screen and (min-width: 750px) {
    .grid-container {
      grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
    }
  }
}

/* Small size (below < 750px)*/
@media only screen and (max-width: 750px) {
  /* Responsive Flexbox*/
  .flexbox-container {
    display: flex;
    flex-direction: column;
    height: 1400px;
  }

  .flexbox-item {
    flex-grow: 1;
    background-size: cover;
    margin-bottom: 10px;

    &:hover {
      flex-grow: 2;
    }
  }

  .flexbox-item-1 {
    background-image: url(img.flex.webp/flex1-hov.webp);
  }
  .flexbox-item-2 {
    background-image: url(img.flex.webp/flex2-hov.webp);
  }
  .flexbox-item-3 {
    background-image: url(img.flex.webp/flex3-hov.webp);
  }
  .flexbox-item-4 {
    background-image: url(img.flex.webp/flex4-hov.webp);
  }

  .grid-item {
    grid-template-columns: 1fr;
  }

  .grid-pictures {
    display: grid;
    place-items: center;
  }

  .navlogo {
    font-size: 1rem;
  }
  .navlink {
    font-size: 1.3rem;
  }
}

/* Dark mode */
body.dark {
  /* Overall section */
  background-color: var(--clr-dark);
  color: whitesmoke;

  /* Navigation section */
}

body.dark nav {
  background-color: var(--clr-dark-items);
  box-shadow: 0 0 2.5px 0 rgba(255, 255, 255, 0.5);
}

body.dark .navtitle {
  color: var(--light-purple-color);
}

body.dark a {
  color: var(--light-purple-color);
}

body.dark a:hover {
  color: white;
}

body.dark .checkbox-label {
  background-color: var(--light-purple-color);
}

body.dark .checkbox-label .ball {
  background-color: var(--clr-dark);
}

/* Main section */
body.dark .undernav-picture {
  background-image: url("https://images.unsplash.com/photo-1507643179773-3e975d7ac515?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80");
  box-shadow: 0 3px 3px -2px rgba(255, 255, 255, 0.5);
}

/* Flexbutton */
body.dark h3 {
  color: var(--light-purple-color);
}

/* Grid container section */
body.dark .grid-item {
  background-color: var(--clr-dark);
  box-shadow: 0 0 2.5px 0 rgba(255, 255, 255, 0.5);
}
body.dark .grid-pictures img {
  box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.5);
}

/* Article section */
body.dark article {
  background-color: var(--clr-dark);
  color: var(--light-purple-color);
  box-shadow: 0 0 2.5px 0 rgba(255, 255, 255, 0.5);
}

body.dark aside {
  color: var(--light-purple-color);
}

/* Footer section */
body.dark footer {
  background-color: var(--clr-dark-items);
  box-shadow: 0 0 3px 0 rgba(255, 255, 255, 0.5);
}

/* Dialog section */ 
body.dark dialog {
  background-color: rgba(29, 29, 29, 0.97);
  box-shadow: 0 0 #ffffff, 0 0 #ffffff, 0 25px 50px 0px rgba(153, 151, 151, 0.267);
  color: white;
}

body.dark input[type="text"]{
  color:white;
  background-color: rgb(50, 50, 50);
}

body.dark input[type="password"]{
  color:white;
  background-color: rgb(50, 50, 50);
}
